<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<html lang="en">

  <p id="notice"><%= notice %></p>
  <head>
      <style>
        body {
          background: url('') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          -o-background-size: cover;
          background-color: white;

            font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          }

          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 700;

        }

        body::after {
          content: "";
          background: url("https://github.com/olivianye1/ROTSee/blob/master/app/views/cadets/ROTSee2.jpg?raw=true");
          opacity: 0.2;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
}

        /* Container holding the image and the text */
        .container {
          position: relative;
          text-align: center;
          color: black;
        }

        /* Centered text */
        .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .front-page {

          margin-bottom: 25px;
        }

        .features-icons {
          padding-top: 7rem;
          padding-bottom: 7rem;
        }

        .features-icons .features-icons-item {
          max-width: 20rem;
        }

        .features-icons .features-icons-item .features-icons-icon {
          height: 7rem;
        }

        .features-icons .features-icons-item .features-icons-icon i {
          font-size: 4.5rem;
        }

        .features-icons .features-icons-item:hover .features-icons-icon i {
          font-size: 5rem;
        }

        header.masthead {
          position: relative;
          background: url("https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-landing-page/master/img/bg-masthead.jpg") no-repeat center center;
          background-color: #343a40;
          background-size: cover;
          padding-top: 8rem;
          padding-bottom: 8rem;
        }

        header.masthead .overlay {
          position: absolute;
          background-color: #212529;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          opacity: 0.3;
        }

        header.masthead h1 {
          font-size: 2rem;
        }

        @media (min-width: 768px) {
          header.masthead {
            padding-top: 12rem;
            padding-bottom: 12rem;
          }
          header.masthead h1 {
            font-size: 3rem;
          }
        }

        footer.footer {
          padding-top: 4rem;
          padding-bottom: 4rem;
        }
      </style>
  </head>
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Track Referrals. Watch Your Business Grow.</h1>
        </div>
        <div class="col-xl-9 mx-auto">
          <%= form_with(model: @user, local: true, url: "/newsletter/sign_up/#{@id}") do |form| %>
            <%= render 'shared/error_messages' %>
              <%= form.text_field :email, :placeholder => "Enter Email"%>
              <%= form.submit "Step Inside!"%>
            <% end %>
        </div>
      </div>
    </div>
  </header>

  <section class="features-icons bg-light text-center">
    <div class = "container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-users m-auto text-primary"></i>
            </div>
            <h3>Viral Growth</h3>
            <p class="lead mb-0">All you need to get started.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-check-square m-auto text-primary"></i>
            </div>
            <h3>Admin Dashboard</h3>
            <p class="lead mb-0">Track word of mouth.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-angle-double-up m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Launch your campaign easily.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <a href="https://github.com/ilanaseidl/refnew" style="font-sizeM 24px;">Learn more.</a>
    <br>
    <br>
  </footer>


</html>
